<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">CURSO MIERCOLES NOCHE</h1>
        <p class="lead">Propiedad Privada @DateTime.Now.Year</p>
    </section>
    
</main>